.container-fluid{
    background-color:#C08497;
    height: 7vh;
    margin-top: -0.5%;
    margin-bottom: -0.5%;
    font-size: larger;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    
    
}

body{
    margin-bottom: -5%;
}
.navbar-nav{
    margin-left: 25%;
}

#Home:hover{
    transform:scale(1.3);
    transition: 1s; 
    color: white;
    
}
h3{
    font-size: x-large;
    color: #704E5A;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    line-height: 2;
    margin-left: 7%;
    margin-right: 8%;
}