.container-fluid {
    background-color: #C08497;
    height: 7vh;
    font-size: larger;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navbar-nav {
    margin-left: auto;
}

#Home:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: white;
}

.carousel-item {
    height: auto;
}

.section-title {
    color: #936D7C;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2%;
}

.card {
    width: 100%;
    height: auto;
}

.review-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.footer {
    background-color: #C08497;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
